<h1>LK Stewart's Lucky Sandfish | WEB250</h1>

<nav>
    <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="introduction.php">Introduction</a></li>
        <li><a href="contract.php">Contract</a></li>
        <li><a href="https://pixelatedaxolotl.github.io/web250/">No PHP Version</a></li>
        <li>
            <a href="#">Outside Sites</a>
            <ul>
                <li><a href="http://web250.great-site.net/multipage/superduper_php">Super Duper PHP</a></li>
                <li><a href="http://web250.great-site.net/multipage/superduper_static">Super Duper Static</a></li>
                <li><a href="http://web250.great-site.net/joy">Joy of PHP</a></li>
            </ul>
        </li>
    </ul>
</nav>