@font-face {
    font-family: 'Heavy Heap Rg';
    src: url('../fonts/HeavyHeapRg-Regular.eot');
    src: url('../fonts/HeavyHeapRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HeavyHeapRg-Regular.woff2') format('woff2'),
        url('../fonts/HeavyHeapRg-Regular.woff') format('woff'),
        url('../fonts/HeavyHeapRg-Regular.ttf') format('truetype'),
        url('../fonts/HeavyHeapRg-Regular.svg#HeavyHeapRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body
{

    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #0F0E06;
    background-color: #D2C39D;
    background: linear-gradient(0deg, rgb(255, 253, 214) 72%, rgb(246, 237, 194) 82%, rgb(236, 220, 172) 87%, rgb(212, 172, 112) 92%, rgb(217, 185, 129) 95%);
    background-attachment: scroll;
    background-attachment: local;
    text-align: center;
    overscroll-behavior-x: contain; /*stops horizontal scrolling from causing browser swipe events*/
}

header h1
{
    font-family: 'Heavy Heap Rg';
    font-size: 50px;
    letter-spacing: .3rem;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 2px;
}

header h2
{
    margin: auto;
    font-size: 23px;
    white-space: nowrap;
}

h2, h3, footer
{
    text-align: center;
    margin: auto;
}

h3
{
    margin: 0px;
}

main
{
    max-width: 1300px;
    margin: 30px auto;
}

a, a:visited
{
    color: rgb(170, 9, 117);
}

a:hover
{
    color: aqua;
}


/* Add car form styles*/
main section:nth-child(2)
{
    display: flex;
    flex-direction: column;
    justify-content: unset;
}

form[name="create"]
{
    border: 2px solid green;
    padding: 10px;
    padding-left: 80px;
    padding-top: 20px;
    
    max-width: 950px;
    margin: auto;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

form[name="create"] label,
form[name="create"] fieldset legend
{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding-bottom: 2px;
}

form[name="create"] > label,
form[name="create"] fieldset[name="imageUpload"]
{
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    text-align: initial;
    padding: 0px;
    margin: 0px;
}

form[name="create"] > label, 
form[name="create"] fieldset
{
    max-width: 230px;

}

form[name="create"] fieldset[name="formControl"]
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;
    text-align: initial;
    padding: 0px;
    margin: 0px;
    align-content: flex-end;
    flex-wrap: wrap;

}

form[name="create"] label input
{
    max-height: 40px;
    max-width: 220px;
}

/* restyle file upload*/
form[name="create"] input[type="file"]
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

form[name="create"] label[for="image"]
{
    max-width: 120px;
    display: inline-block;
    overflow: clip;
    text-overflow: ellipsis;
}

form[name="create"] label[for="image"], 
form[name="create"] fieldset button,
form[name="create"] fieldset input
{
    cursor: pointer;
    border: solid black;
    border-radius: 3px;
    background-color: aquamarine;
    font-size: 1.2rem;
    display: inline-block;
    align-content: center;
    text-align: center;
    padding: 6px 10px;
    min-width: 95px;
}

form[name="create"] fieldset > label,
form[name="create"] fieldset > input
{
    margin-right: 20px;
}

form[name="create"] fieldset[name="imageUpload"] label
{
    background-color: #49e188;
}

form[name="create"] fieldset[name="imageUpload"] button
{
    background-color: rgb(154, 206, 246);
}

form[name="create"] fieldset[name="formControl"] input[type="reset"]
{
    background-color: rgb(222, 67, 67);
}

form[name="create"] fieldset[name="imageUpload"] label,
form[name="create"] fieldset[name="imageUpload"] button
{
    font-size: 0.8rem;
    height: fit-content;
}

form[name="create"] fieldset
{
    border: none;
}


/*Editable cars list styles*/
form[name="edit"]
{
    max-width: 1200px;
    text-align: center;
    margin: auto;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0px;
    margin-top: 22px;
    margin-bottom: 22px;
    border: 2px solid black;
}

form[name="edit"] thead
{
    position: sticky;
    top: 0;
}

form[name="edit"] th
{
    background-color: #a89ff6;
    font-size: 1.1rem;
}

form[name="edit"] input
{
    text-align: center;
}

/*table images*/
td:first-child img
{
    height: 60px;
    max-width: 80px;
    vertical-align: bottom;
}

table label input[type="file"]
{
    display: none;
}

label img
{
    cursor:pointer;
    object-fit: contain;
}
/* end table image styles*/

/* Makes action button column sticky */
form[name="edit"] thead
{
    z-index: 3;
}

thead th.actionButtons
{
    position: sticky;
    z-index: 2;
    right: 0;
    padding: 0px;
    margin: 0px;
}

tr td.actionButtons
{
    position:sticky;
    right: 0;
    background: aliceblue;
}


/* End action button column sticky styles */


form table
{
    width: 100%;
    max-width: 1200px;
    border-collapse: separate;
    border-style: hidden;
    border-spacing: 0;
    margin: auto;
}

form thead th:nth-child(1)
{
    width: 10%;
    min-width: 85px;
}

form table td:nth-child(even):not(:last-child), form table th:nth-child(even):not(:last-child)
{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/* make border show up correctly for sticky action button column */
form table td:last-child, form table th:last-child
{
    border-left: 2px solid black;
}

form table td, form table th
{
    border-bottom: 1px solid gray;
}

form table th
{
    border-bottom: 2px solid black;
}

form table th, form table tr
{
    width: 20px;
}

form table input
{
    max-width: fit-content;
    /*width: 90%;*/
    font-size: 1rem;
    background: none;
    border: solid blue 1.5px;
}

/* table action buttons styles */
table button
{
    padding-left: 10px;
}

button
{
    background: none;
    border: none;
}

table button:hover
{
    position: relative; /*must be relative for tooltip to work*/
}

table button:hover::after
{
    content: attr(tooltip); /* pulls from your custom attribute */
    position: absolute;
    background-color: #333;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 16px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1000;
    opacity: 1;
  }

table tbody td:last-child
{
    white-space: nowrap;
}

input:disabled, label img 
{
    background-color: transparent;
    border: none;
    color: black;
    cursor: not-allowed;
}

button[name="toggleEdit"] img:hover, 
button[name="update"] img:hover
{
    cursor: pointer;
    background: rgb(9, 149, 135);
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgb(0, 213, 153);
    transform: scale(1.1);
    transition: 0.25s;

}

button[name="cancelEdit"] img:hover
{
    cursor: pointer;
    background: rgb(99, 148, 246);
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgb(12, 49, 231);
    transform: scale(1.1);
    transition: 0.25s;
}

button[name="delete"] img:hover
{
    cursor: pointer;
    background: rgb(93, 12, 4);
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgb(236, 51, 27);
    transform: scale(1.1);
    transition: 0.25s;

}

button[name="update"], button[name="cancelEdit"]
{
    display: none;
}
/* end table action buttons styles */

/*login form + logout button styles*/
main section:first-child
{
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: auto;
}

main section:nth-child(2) h4
{
    margin: 0px;
    margin-top: 30px;
    
}

form[name="logout"], form[name="login"], form[name="resetDatabase"] 
{
    text-align: center;
    display: inline-block;

}

form[name="login"] button, form[name="logout"] button, form[name="resetDatabase"] button
{
    background-color: rgb(174, 158, 255);
    font-size: 15px;
    height: fit-content;
    border: solid black 2px;
    border-radius: 3px;
    text-align: center;
}

/* Status message styles */
section[name="statusMessages"]
{
    max-height: 150px;
    overflow-y: scroll;
    border: 2px solid purple;
    margin: auto;
    max-width: 1200px;
    font-size: 20px;
    margin: 40px auto;
}

section[name="statusMessages"] span
{
    display: block;
    font-size: 20px;
    padding-top: 10px;
}

/* End status message styles */