<h1>LK Stewart's Lucky Sandfish | WEB250</h1>

<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="introduction.html">Introduction</a></li>
        <li><a href="contract.html">Contract</a></li>
        <li><a href="fizzbuzz.html">Fizz Buzz</a></li>
        <li><a href="http://web250.great-site.net">PHP Version</a></li>
        <li>
            <a href="#">Outside Sites</a>
            <ul>
                <li><a href="multipage/superduper_php/">Super Duper PHP</a></li>
                <li><a href="multipage/superduper_static/">Super Duper Static</a></li>
                <li><a href="joy/">Joy of PHP</a></li>
                <li><a href="http://web250.great-site.net/carApp">Car App A</a></li>
                <li><a href="http://web250.great-site.net/carApp2">Car App B</a></li>
                <li><a href="https://pixelatedaxolotl.github.io/web250/fizzbuzz.html">Fizz Buzz</a></li>
                <li><a href="http://web250.great-site.net/?p=introductionForm">IntroductionForm</a></li>
            </ul>
        </li>
    </ul>
</nav>